* {
    margin: 0px;
    padding: 0px;
}

p {
    color: red;
}

#container {
    height: 700px;
    width: 700px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
}

.container-wrap {
    display: flex;
    justify-content: center;
}

.sketchRow {
    border: 1px solid black;
    flex: 1;
    display: flex;
}

.sketchCell {
    border: 1px solid black;;
    flex: 1;
}

.sketched {
    background-color: gray;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.slider {
    width: 400px;
}